.toolbar {
    position: absolute;
    margin: 0px;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #BC8F8F;
    color: white;
    font-weight: 600;
    font-family: 'Aref Ruqaa', serif;
    font-size: 24px;
}

.toolbar title {
    width: 16px;
}

.toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
}

.toolbar #twitter-logo:hover {
    opacity: 0.8;
}

.title {
    margin: 16px;
}

.spacer {
    flex-grow: 1;
}

.content {
    position: relative;
    top: 64px;
}